<div class="container-fluid questionform">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 box mdl-shadow--2dp">
			<form ng-submit="">
			  	<div class="mdl-textfield mdl-js-textfield">
			    	<textarea class="mdl-textfield__input" ng-model="question.question" type="text" rows="3" id="question" placeholder="Question"></textarea>
			    	<label class="mdl-textfield__label" for="question"></label>
			  	</div>

				<label ng-if="question.option.length">Options</label>
				<div class="row">
					<div class="option col-xs-12" ng-repeat="option in question.options">
					  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield" ng-show="editMode == option.id">
					    	<input class="mdl-textfield__input" type="text" id="t{{option.id}}" ng-model="option.option" ng-keydown="optionUpdate($event, option)">
					    	<label class="mdl-textfield__label" for="t{{option.id}}"></label>
					  	</div>
						<label mdl-upgrade class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{option.id}}" ng-hide="editMode == option.id">
							<input type="radio" id="{{option.id}}" class="mdl-radio__button" name="options" value="{{option.id}}" ng-model="question.correct_answer_id">
							<span class="mdl-radio__label" ng-dbclick="changeEditMode(option.id)" >{{option.option}}</span>
						</label>

						<i class="material-icons" ng-click="changeEditMode(option.id)" style="right:30px" ng-hide="editMode == option.id">edit</i>
						<i class="material-icons" ng-click="optionDelete($index)">delete</i>
					</div>
				</div>

				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" ng-model="newOpt" type="text" id="newOption" placeholder="Add an option" ng-keydown="optionCreate($event, newOption)" />
					<label class="mdl-textfield__label" for="newOption"></label>
			  	</div>
				
				<div ng-if="!id">
					<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="create()">Create</button><br><br>
				</div>

				<div ng-if="id">
					<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="update()">Update</button><br><br>
				</div>
			</form>
		</div>
	</div>
</div>