<table class="table table-hover mdl-shadow--2dp">
    <thead>
        <tr>
            <th>Title</th>
            <th class="text-right">Date &amp Time</th>
            <th class="text-right">Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="quiz in quizzes">
          <td>
            <a href="#/quiz/{{quiz.id}}/questions">{{quiz.title}}</a>
          </td>
          <td class="text-right">{{quiz.date_time | asDate| date:"h:mm a, MMM d, yyyy"}}</td>
          <td class="text-right">{{quiz.duration | hourminute }}</span></td>
          <td class="icons text-right">
              <a href="#/quiz/edit/{{quiz.id}}"><i class="material-icons clickable">mode_edit</i></a>
              <i class="material-icons clickable" ng-click="destroy($index)">delete</i>
          </td>
      </tr>
    </tbody>
</table>
<a href="#/quiz/add" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-button">
    <i class="material-icons">add</i>
</a>