<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2 box mdl-shadow--2dp">
			<form ng-submit="">
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" ng-model="quiz.title" type="text" id="title" placeholder="Title" />
					<label class="mdl-textfield__label" for="title"></label>
			  	</div>
		  		<error errors="errors.title"></error>

				<div class="row">
					<div class="col-sm-6">
						<div id="datetimepicker2" class="mdl-textfield mdl-js-textfield input-append" style="position:relative;">
    						<input class="mdl-textfield__input date_time" data-format="hh:mm, dd-MM-yyyy" type="text" ng-model="quiz.date_time" id="date_time" placeholder="Date &amp Time">
							<label class="mdl-textfield__label" for="date_time"></label>
						    <span class="add-on" style="position:absolute;right:0;top:25px">
						      	<i style="cursor:pointer" data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-calendar"></i>
						    </span>
					  	</div>
		  				<error errors="errors.date_time"></error>
					</div>
					<div class="col-sm-6">
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" ng-model="quiz.duration" type="number" id="duration" placeholder="Duration in Minutes" />
							<label class="mdl-textfield__label" for="duration"></label>
					  	</div>
		  				<error errors="errors.duration"></error>
					</div>
				</div>

			  	<div class="mdl-textfield mdl-js-textfield">
			    	<textarea class="mdl-textfield__input" ng-model="quiz.description" type="text" rows="3" id="description" placeholder="Description"></textarea>
			    	<label class="mdl-textfield__label" for="description"></label>
			  	</div>
		  		<error errors="errors.description"></error>
				
				<div ng-if="!id">
					<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="create()">Create</button><br><br>
				</div>

				<div ng-if="id">
					<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="update()">Update</button><br><br>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$('#datetimepicker2').datetimepicker({
			language: 'en',
			pick12HourFormat: true
		});
	});
</script>