<table class="table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th>Date &amp Time</th>
            <th>Duration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="quiz in quizzes">
          <td class="mdl-data-table__cell--non-numeric">
            <a href="#/quiz/{{quiz.id}}/questions">{{quiz.title}}</a>
          </td>
          <td>{{quiz.date_time | asDate| date:"h:mm a, MMM d, yyyy"}}</td>
          <td>{{quiz.duration}} Hour<span ng-if="quiz.duration > 1">s</span></td>
          <td>
              <a href="#/quiz/edit/{{quiz.id}}"><i class="material-icons clickable">mode_edit</i></a>
              <i class="material-icons clickable" ng-click="destroy($index)">delete</i>
          </td>
      </tr>
    </tbody>
</table>
<a href="#/quiz/add" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-button">
    <i class="material-icons">add</i>
</a>