<table class="table mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">eMail</th>
            <th>ID</th>
            <th>Batch</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in students">
          <td class="mdl-data-table__cell--non-numeric">{{student.name}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{student.email}}</td>
          <td>{{student.student_id}}</td>
          <td>{{student.batch}}</td>
          <td>{{student.department}}</td>
      </tr>
    </tbody>
</table>