<table class="table mdl-shadow--2dp">
    <thead>
        <tr>
            <th>Name</th>
            <th>eMail</th>
            <th class="text-right">ID</th>
            <th class="text-right">Batch</th>
            <th class="text-right">Department</th>
        </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in students">
          <td><a href="#/student/{{student.id}}">{{student.name}}</a></td>
          <td>{{student.email}}</td>
          <td class="text-right">{{student.student_id}}</td>
          <td class="text-right">{{student.batch}}</td>
          <td class="text-right">{{student.department}}</td>
      </tr>
    </tbody>
</table>