<div class="container-fluid aboutpage">
	<div class="row">

		<div class="col-xs-12">
			<div class="about-app box mdl-shadow--4dp">
				<h3>About Aplication</h3>
				<p>Quizapp is a online based automated quiz system.</p>
				<h5>Features:</h5>
				<ul class="row">
					<li class="col-sm-6">User Login System</li>
					<li class="col-sm-6">Dynamically Addable Quizzes &amp Questions</li>
					<li class="col-sm-6">Quizzes &amp Questions are Editable</li>
					<li class="col-sm-6">Automated Scoring System</li>
				</ul>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-6" style="margin-top:15px;">
			<div class="about-developer box mdl-shadow--4dp">
				<h3>About Developer</h3>
				<div class="dinfo">
					<i class="material-icons">person</i>
					<span class="field">Name </span>
					<span class="text">: Md. Sabbir Rahman</span>
				</div>

				<div class="dinfo">
					<i class="material-icons">school</i>
					<span class="field">Education </span>
					<span class="text">: B.Sc (Engg) in CSE, <a href="http://uttarauniversity.edu.bd">Uttara University</a></span>
				</div>

				<div class="dinfo">
					<i class="material-icons">work</i>
					<span class="field">Work </span>
					<span class="text">: Front-end Developer, <a href="http://airly.me">Airly Ltd.</a></span>
				</div>

				<div class="dinfo">
					<i class="material-icons">build</i>
					<span class="field">Skills </span>
					<span class="text">: HTML5, CSS3, JavaScript, jQuery, AngularJS, AngularJS 2.0, PHP, MySQL, Laravel, Photoshop, Illustrator.</span>
				</div>

				<div class="dinfo">
					<span class="text">
						<i class="material-icons"></i>
						<span class="field"></span>
						<span class="text">
							<i class="material-icons">email</i> <a href="mailto:sabbir.jassim@gmail.com">eMail</a>
							<i class="material-icons">public</i> <a href="http://fb.me/blackheartadhar">Facebook</a>
							<i class="material-icons">toys</i> <a href="http://github.com/blackheartadhar">Git</a>
						</span>
					</span>
				</div>
			</div>
		</div>

		<div class="col-sm-6" style="margin-top:15px;">
			<div class="special-thanks box mdl-shadow--4dp">
				<h3>Special Thanks</h3>
				<div class="dinfo">
					<i class="material-icons">person</i>
					<span class="field">Name </span>
					<span class="text">: Mohammed Joynal Abedin</span>
				</div>

				<div class="dinfo">
					<i class="material-icons">school</i>
					<span class="field">Education </span>
					<span class="text">: B.Sc (Engg) in CSE, <a href="http://uttarauniversity.edu.bd">Uttara University</a></span>
				</div>

				<!--<div class="dinfo">
					<i class="material-icons">work</i>
					<span class="field">Work </span>
					<span class="text">: Softwere Engineer, <a href="#"></a></span>
				</div>-->

				<div class="dinfo">
					<i class="material-icons">build</i>
					<span class="field">Skills </span>
					<span class="text">: HTML5, CSS3, JavaScript, jQuery, Vue.JS, PHP, MySQL, Laravel, Photoshop, Illustrator.</span>
				</div>

				<div class="dinfo">
					<span class="text">
						<i class="material-icons"></i>
						<span class="field"></span>
						<span class="text">
							<i class="material-icons">email</i> <a href="mailto:joynal3483@gmail.com">eMail</a>
							<i class="material-icons">public</i> <a href="http://fb.me/joynal.abd">Facebook</a>
							<i class="material-icons">toys</i> <a href="http://github.com/joynal"> Git</a>
						</span>
					</span>
				</div>
			</div>
		</div>

	</div>
</div>

<footer class="about">
    <span class="mdl-shadow--4dp">
        Build with <i class="material-icons" style="font-size:14px">favorite_border</i>
        by <a href="http://fb.me/blackheartadhar">Sabbir Rahman</a>
    </span>
</footer>