<div class="container-fluid dashboard">
  <div class="row">

    <div class="col-md-8 col-md-offset-2 col-sm-12" style="margin-bottom:10px">
	  <div class="dashboard-card quizzes mdl-card mdl-shadow--2dp">
	    <div class="mdl-card__title">
		  <h2 class="mdl-card__title-text">Quizzes</h2>
		</div>
		<div class="mdl-card__supporting-text">
		  View Your Participated in Quizzess.
	    </div>
	    <div class="mdl-card__actions mdl-card--border">
		  <a href="#/quizzes" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			Quizzes
		  </a>
		</div>
		<div class="mdl-card__menu">
		</div>
	  </div>
	</div>

  </div>

  <div class="row">

    <div class="col-md-4 col-md-offset-2 col-sm-6" style="margin-top:15;margin-bottom:10px;">
	  <div class="dashboard-card stats mdl-card mdl-shadow--2dp">
	    <div class="mdl-card__title">
		  <h2 class="mdl-card__title-text">Stats</h2>
		</div>
		<div class="mdl-card__supporting-text">
		  View Statistics of Previous Quizzes
	    </div>
	    <div class="mdl-card__actions mdl-card--border">
		  <a href="#stats" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			Stats
		  </a>
		</div>
		<div class="mdl-card__menu">
		  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			<i class="material-icons"></i>
		  </button>
		</div>
	  </div>
	</div>

    <div class="col-md-4 col-sm-6" style="margin-top:15;margin-bottom:10px;">
	  <div class="dashboard-card about mdl-card mdl-shadow--2dp">
	    <div class="mdl-card__title">
		  <h2 class="mdl-card__title-text">About</h2>
		</div>
		<div class="mdl-card__supporting-text">
		  Want to know about this app?
	    </div>
	    <div class="mdl-card__actions mdl-card--border">
		  <a href="#about" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
			About
		  </a>
		</div>
		<div class="mdl-card__menu">
		  <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			<i class="material-icons"></i>
		  </button>
		</div>
	  </div>
	</div>

  </div>
</div>