<div class="clock box mdl-shadow--2dp" ng-if="!questions.length">
  <span class="text">This quiz will begin in...</span>
  <div class="flip-clock"></div>
</div>
<div ng-show="questions.length">
  <div class="container-fluid">
    <div class="row" style="margin-bottom:20px">
      <div class="col-sm-offset-2 col-sm-8 box mdl-shadow--2dp">
        <div class="flip-clock2 flip-clock-small"></div>
      </div>
    </div>
    <div class="row">
      <section class="col-sm-8 col-sm-offset-2 question-card mdl-shadow--2dp" ng-repeat="question in questions" ng-if="Math.ceil(($index+1)/10) == pageNo">
        <header class="question">
          {{question.question}}
        </header>
        <main class="option">
          <div ng-repeat="option in question.options">
            <label mdl-upgrade class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="{{option.id}}">
              <input type="radio" id="{{option.id}}" class="mdl-radio__button" value="{{option.id}}"name="{{question.id}}" ng-model="question.answer">
              <span class="mdl-radio__label">{{option.option}}</span>
            </label>
          </div>
        </main>
      </section>
    </div>
  </div>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-button" ng-click="next()" ng-if="pageNo != maxPage">
      <i class="material-icons">chevron_right</i>
  </button>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored floating-button" ng-click="submitAnswers()" ng-if="pageNo == maxPage">
      <i class="material-icons">check</i>
  </button>
</div>