<div class="container-fluid">
	<div class="row">

		<div class="col-sm-6">
			<div class="box mdl-shadow--2dp" style="padding: 15px;">
				<h3 style="margin:0">Informations</h3>
				<form>
				  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield">
				    	<input class="mdl-textfield__input" type="text" id="name" ng-model="student.name" placeholder="Name">
				    	<label class="mdl-textfield__label" for="name"></label>
				  	</div>

				  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield">
				    	<input class="mdl-textfield__input" type="email" id="email" ng-model="student.email" placeholder="eMail">
				    	<label class="mdl-textfield__label" for="email"></label>
				  	</div>

				  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield">
				    	<input class="mdl-textfield__input" type="text" id="student_id" ng-model="student.student_id" placeholder="Student ID">
				    	<label class="mdl-textfield__label" for="student_id"></label>
				  	</div>

				  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield">
				    	<input class="mdl-textfield__input" type="number" id="batch" ng-model="student.batch" placeholder="Batch">
				    	<label class="mdl-textfield__label" for="batch"></label>
				  	</div>

				  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield">
				    	<input class="mdl-textfield__input" type="text" id="department" ng-model="student.department" placeholder="Department">
				    	<label class="mdl-textfield__label" for="department"></label>
				  	</div>

					<div>
						<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="update()">Update</button><br><br>
					</div>
				</form>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="box mdl-shadow--2dp" style="padding: 15px;">
				<h3 style="margin:0">Password</h3>
				<form ng-submit="">
				  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield">
				    	<input class="mdl-textfield__input" type="password" id="oldpass" ng-model="password.old_password">
				    	<label class="mdl-textfield__label" for="oldpass">Old Password</label>
				  	</div>

				  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield">
				    	<input class="mdl-textfield__input" type="password" id="newpass" ng-model="password.new_password">
				    	<label class="mdl-textfield__label" for="newpass">New Password</label>
				  	</div>

				  	<div mdl-upgrade class="mdl-textfield mdl-js-textfield">
				    	<input class="mdl-textfield__input" type="password" id="newpassagain" ng-model="password.again_new_password">
				    	<label class="mdl-textfield__label" for="newpassagain">New Password Again</label>
				  	</div>

					<div>
						<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="updatePassword()">Update</button><br><br>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>