<div class="score mdl-shadow--2dp">
  <span>You have scored {{score.score}} point{{score.score>1?'s':''}} out of {{questions.length}} point{{score.score>1?'s':''}} within {{score.time | hourminutesecond}}</span>
  <br>
  <span>Check bellow for the correct answers and your answers</span>
</div>
<table class="table mdl-shadow--2dp">
  <thead>
    <tr>
      <th></th>
      <th>Question</th>
      <th class="text-right">Your Answer</th>
      <th class="text-right">Correct Answer</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="question in questions" ng-class="{warning: question.answer != question.correct_answer}">
      <td class="icons text-center">
        <i class="material-icons" ng-class="{'text-danger': question.answer != question.correct_answer}">{{question.answer == question.correct_answer? 'mood':'mood_bad'}}</i>
      </td>
      <td>{{question.question}}</td>
      <td class="text-right">{{question.answer}}</td>
      <td class="text-right">{{question.correct_answer}}</td>
    </tr>
  </tbody>
</table>